//
// Alerts
// --------------------------------------------------

// Base styles
// -------------------------

.alert {
  background: $white;
  border: 1px solid $table-border-color;
  border-radius: 0;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.05);
  color: $black;
  margin-bottom: 20px;
  padding: 10px 20px;
  overflow: hidden;
  i {
    font-size: 18px;
    margin: 2px 20px 0 0;
  }
  &.alert-success i {
    color: $alert-success;
  }
  &.alert-danger i {
    color: $alert-danger;
  }
  &.alert-info i {
    color: $alert-info;
  }
  &.alert-warning i {
    color: $alert-warning;
  }
  > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
  }
  &.alert-dismissable {
    padding-right: 35px;
    .close {
      top: 1px;
      outline: 0;
    }
  }
}


// Alert system
// --------------------------------------------------

.alert-system {
  a {
    color: inherit;
    cursor: pointer;
    font-family: $proxima-nova-bold;
    text-decoration: none;
  }
  &.page {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 100%;
    max-width: 500px;
    z-index: 99999;
    &:not([appearance="snippet"]) .alert {
      position: relative;
      box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.05), 0 0 27px 0px rgba(89, 89, 89, 0.13);
      max-height: 500px;
      overflow: hidden;
      @include animation-duration(0.75s);
      @include animation-fill-mode(forwards);
      @include animation-name(slideInRight);

      &.ng-leave.ng-leave-active {
        @include animation-name(slideOutRight);
      }
    }
  }
  @media (max-width: 550px) {
    &.page {
      top: 15px;
      right: 0;
      padding: 0 15px;
      max-width: 550px;
    }
  }
}

// Alerts inside modals
//---------------------------------------------------

.modal-open {
  .alert-system[type='page'] {
    z-index: 9999999;
  }
}


// Alert animations
// --------------------------------------------------

@keyframes slideInRight {
  0% {
    @include opacity(0);
    @include translate3d(3000px, 0, 0);
  }

  80% {
    @include opacity(1);
    @include translate3d(-25px, 0, 0);
  }

  100% {
    @include translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  20% {
    @include opacity(1);
    @include translate3d(-20px, 0, 0);
  }

  50% {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    margin-bottom: 20px;
    max-height: 500px;
  }

  100% {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    margin-bottom: 0;
    max-height: 0;
    @include opacity(0);
    @include translate3d(2000px, 0, 0);
  }
}

@keyframes slideInTop {
  0% {
    padding-top: 35px;
    z-index: 0;
    @include opacity(0);
    @include translate3d(0, -1000px, 0);
  }

  80% {
    padding-top: 35px;
    z-index: 0;
    @include opacity(1);
    @include translate3d(0, 0, 0);
  }

  100% {
    padding-top: 10px;
    z-index: 10;
    @include translate3d(0, 0, 0);
  }
}

@keyframes slideOutTop {
  0% {
    padding-top: 10px;
    z-index: 0;
  }
  30% {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  100% {
    z-index: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
  }
}

.alert-system.page[appearance="snippet"] {
  max-width: none;
  right: 0;
  top: 0;
  padding: 0 !important;
  .alert {
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    max-height: 500px;
    overflow: hidden;
    position: relative;
    font-family: $proxima-nova-semibold;
    padding-left: 23px;
    padding-right: 65px;
    @include animation-duration(0.75s);
    @include animation-fill-mode(forwards);
    @include animation-name(slideInTop);

    &.ng-leave.ng-leave-active {
      @include animation-duration(0.25s);
      @include animation-name(slideOutTop);
    }
    
    button.close {
      width: 27px;
      height: 27px;
      border-radius: 50%;
      border: 2px solid;
      display: block;
      line-height: 26px;
      color: #e8e9ea;
      position: absolute;
      top: 20px;
      right: 23px;
      -webkit-font-smoothing: initial;
      @include opacity(1);
      &:hover {
        @include opacity(1);
      }
    }
    &.alert-success {
      color: #6faf76;
      i, button.close:hover > span {
        color: #6faf76;
      }
    }
    &.alert-danger {
      color: #c71c1c;
      i, button.close:hover > span {
        color: #c71c1c;
      }
    }
    &.alert-warning {
      color: #ffa53b;
      i, button.close:hover > span {
        color: #ffa53b;
      }
    }
    &.alert-info {
      color: #3178b7;
      i, button.close:hover > span {
        color: #3178b7;
      }
    }

    > div {
      padding: 6px 0;
      .alert-content-wrapper {
        padding: 7px 0;
      }
    }

    i {
      font-size: 26px;
      width: 26px;
      min-width: 26px;
      text-align: center;
      margin-right: 15px;
    }
    @media #{$extra-small} {
      i {
        margin-right: 10px;
      }
    }
  }
}

.alert-system.page[appearance="banner"] {
  max-width: none;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  padding: 0 !important;
  .alert {
    background: #337ab7;
    color: $white;
    font-size: 14px;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    max-height: 500px;
    overflow: hidden;
    position: relative;
    font-family: $proxima-nova;
    padding: 10px 50px 10px 30px;
    @include animation-duration(0.75s);
    @include animation-fill-mode(forwards);
    @include animation-name(slideInTop);

    &.ng-leave.ng-leave-active {
      @include animation-duration(0.25s);
      @include animation-name(slideOutTop);
    }
    
    button.close {
      width: 16px;
      height: 25px;
      display: block;
      line-height: 25px;
      color: #e8e9ea;
      position: absolute;
      top: 20px;
      right: 27px;
      -webkit-font-smoothing: initial;
      @include opacity(1);
      &:hover {
        @include opacity(1);
      }
    }

    > div {
      padding: 2px 0 4px;
      .alert-content-wrapper {
        padding: 7px 15px;
        margin: 0 auto;
        > div:not(.alert-actions) {
          display: inline;
          margin-right: 12px;
        }
        .alert-actions {
          display: inline-block;
          position: relative;
          top: 2px;
          i {
            cursor: pointer;
            margin: 0;
            @include opacity(0.5);
            &:hover {
              @include opacity(1);
            }
            + i {
              margin-left: 8px;
            }
          }
        }
      }
    }

    i {
      color: $white;
      font-size: 20px;
      width: 20px;
      min-width: 20px;
      text-align: center;
      margin: 8px 0 0;
      @include opacity(0.5);
    }
  }
}