//
// Buttons
// --------------------------------------------------

.btn-primary {
  @include mbsy-button-variant($white, $blue-light, $blue-light);
}

.btn-default {
  @include mbsy-button-variant($btn-default-color, $btn-default-bg, $gray);
}

.btn-gray {
  @include mbsy-button-variant($white, $bg-secondary, $bg-secondary);
}

.btn-danger {
  @include mbsy-button-variant($white, $orange-dark, $orange-dark);
}

.btn-orange {
  @include mbsy-button-variant($white, $mbsy-orange, $mbsy-orange);
}

.btn-darkred {
  @include mbsy-button-variant($white, $mbsy-darkred, $mbsy-darkred);
}

.btn-darkorange {
  @include mbsy-button-variant($white, $mbsy-darkorange, $mbsy-darkorange);
}

.btn-mutegray {
  @include mbsy-button-variant($mbsy-darkgray, $mbsy-lightgray, $mbsy-lightgray);
}

.btn--gray {
  @include mbsy-button-variant($mbsy-semilightgray, $white, $mbsy-semilightgray, true);
}

.btn--blue {
  @include mbsy-button-variant($mbsy-blue, $white, $mbsy-blue, true);
}

.btn-blue {
  @include mbsy-button-variant($white, $mbsy-blue, $mbsy-blue);
}

.btn-blue-on-blue {
  $bg: $mbsy-navy;
  $fg: $mbsy-blue;
  @include mbsy-button-variant($fg, $bg, $fg);
  &:hover, &:focus, &:active, &.active, .open .dropdown-toggle {
    color: $white;
    background-color: $bg;
    border-color: $fg;
  }
}

.btn-lg {
  height: 60px;
  @include button-size(6px, 80px, 14px, 20px, 4px);
}

.btn-ml {
  @include button-size(10px, 20px, 16px, 1.44, 4px);
}

ga-button {
  @include user-select(none);
  .btn {
    border-radius: 4px;
    @include inline-block();
    position: relative;
    &.btn-lg {
      padding: 0px 20px;
      max-width: 260px;
      min-width: 240px;
      min-height: 60px;
      span {
        white-space: normal;
      }
    }
    &:focus, &:active:focus {
      outline: none;
    }
    .loading {
      @include opacity(0);
    }
  }
}
