//
// Colors
// --------------------------------------------------

// Background
$bg-primary: #ECF0F0;
$bg-secondary: #959AA7;
$bg-tertiary: #FFF;

// Primary $ secondary colors
$blue-darker: #1E2935;
$blue-dark: #2D3E50;
$blue-dark-2: #2D3E50;
$blue: $bg-secondary;
$blue-light: #3C97D3;
$blue-lighter: #3E89C9;
$blue-neon: #62caf3;
$blue-facebook: #3E5B9D;
$blue-linkedin: #017faf;
$blue-tumblr: #44546A;
$blue-twitter: $blue-neon;

$gray-darker: #555555;
$gray-dark: #808080;
$gray: #BDC2C7;
$gray-light: #CCC;
$gray-lighter: $bg-primary;
$gray-1: #7F8C8D;
$gray-2: #94A4A5;
$gray-3: $gray;
$gray-4: #ECF0F0;

$green: #26B894;

$orange-darker: #DC4126;
$orange-dark: #E54C3b;
$orange: #F29C1E;
$orange-klout: #DC4126;

$red: #CA2028;
$red-ga-dark: #AB1F24;
$red-ga-light: #DC1F26;
$red-google: #E54C3B;
$red-pinterest: $red;

$white: $bg-tertiary;

$link-color: $blue-light;

$btn-default-color: #666666;
$btn-default-bg: #EEF2F4;


// Smart table colors
$table-font-color: $gray-darker;
$table-border-color: #dedddd;