.has-error, .has-success.has-error {
  color: $red !important;
  border-color: $red !important;
  .dropdown .dropdown-toggle {
    color: $red !important;
    border-color: $red !important;
  }
}

.has-success {
  .dropdown .dropdown-toggle {
    border-color: #3C763D !important;
  }
}

.dropdown.dropdown-form {
  .dropdown-toggle {
    width: 100%;
    text-align: left;
    line-height: 40px;
    padding: 0 12px;
    background-color: $white;
    border-color: $gray-light;
    color: #555555;
    font-weight: normal;
    @include vendorize(font-smoothing,auto);
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset);
    i {
      color: #555555;
      float: right;
    }
    &.btn {
      .caret {
        top: 17px;
      }
    }
  }
  .dropdown-menu {
    li {
      a {
        cursor: pointer;
      }
    }
  }
}

input[type="text"], input[type="password"], input[type="email"], select {
  height: 42px;
}

.checkbox-group {
  input {
    height: 39px;
  }
  .input-group-addon {
    padding: 0 12px;
  }
  .form-control {
    height: 42px;
    line-height: 42px;
    padding: 0 12px;
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -ms-font-smoothing: auto;
    @include vendorize(user-select,none);
  }
}

.form-group .label.label-input {
  position: absolute;
  right: 9px;
  top: 9px;
  padding: 6px;
}

.form-control[readonly].code-select {
  background-color: #fff;
  cursor: text;
}


.async-loader {
  position: relative;
  i {
    position: absolute;
    right: 12px;
    top: 14px;
  }
}
