.has-error, .has-success.has-error {
  color: $red !important;
  border-color: $red !important;
  .dropdown .dropdown-toggle {
    color: $red !important;
    border-color: $red !important;
  }
  .input-group-btn .btn {
    border-color: $red !important;
    i {
      color: $red !important;
    }
  }
}

.has-success {
  .dropdown .dropdown-toggle {
    border-color: #3C763D !important;
  }
  .input-group-btn .btn {
    border-color: #3C763D !important;
    i {
      color: #3C763D !important;
    }
  }
}

::-webkit-input-placeholder {
  color: $gray-1 !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: $gray-1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $gray-1 !important;
}

:-ms-input-placeholder {
  color: $gray-1 !important;
}

.form-control {
  color: $gray-1;
}

.dropdown.dropdown-form {
  .dropdown-toggle {
    width: 100%;
    text-align: left;
    line-height: 40px;
    padding: 0 12px;
    background-color: $white;
    border-color: $gray-light;
    color: $gray-1;
    font-weight: normal;
    @include vendorize(font-smoothing,auto);
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset);
    i {
      color: #555555;
      float: right;
    }
    &.btn {
      .caret {
        top: 17px;
      }
    }
  }
  .dropdown-menu {
    li {
      a {
        cursor: pointer;
        padding: 3px 12px;
        color: $gray-1;
      }
    }
  }
}

input[type="text"], input[type="password"], input[type="email"], select {
  height: 42px;
}

.checkbox-group {
  input {
    height: 39px;
  }
  .input-group-addon {
    padding: 0 12px;
  }
  .form-control {
    height: 42px;
    line-height: 42px;
    padding: 0 12px;
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -ms-font-smoothing: auto;
    @include vendorize(user-select,none);
  }
}

.form-group .label.label-input {
  position: absolute;
  right: 9px;
  top: 9px;
  padding: 6px;
}

.form-control[readonly].code-select {
  background-color: #fff;
  cursor: text;
}


.async-loader {
  position: relative;
  .inner-field-loading {
    input {
      padding-right: 35px;
    }
  }
  i.fa {
    position: absolute;
    right: 12px;
    top: 13px;
    padding-top: 1px; // padding top fixes the async spinner axis
  }
}

ga-select {
  .ambassador-select-list {
    color: $gray-darker;
  }
}

//==============================================
//  IT'S DA NEW LOOK!

ga-select[new-look] {
  $border-radius: 2px;
  input, .dropdown-toggle {
    box-shadow: none;
    border: 2px solid;
    border-color: $clr-input-border;
    border-radius: $border-radius;
    color: $clr-input-text !important;
    font-family: $proxima-nova-bold;
    @include input-placeholder {
      font-family: inherit;
      font-size: inherit;
      color: $clr-input-placeholder !important;
    }
    .caret {
      color: $clr-dropdown-caret;
    }
  }
  .dropdown-toggle {
    box-shadow: none !important;
    border-color: $clr-input-border !important;
  }
  .mbsy-select-list {
    padding-top: 2px;
    overflow-y: scroll;
    > ul {
      padding: 0;
      margin: 0;
      > li {
        display: flex;
        color: $clr-selected-item;
        margin: 1px;
        padding: 1px 12px;
        .item-label {
          flex: 1 0;
          font-size: 15px;
          font-family: $proxima-nova-bold;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .remove-item-button {
          display: block;
          flex: 0 0 12px;
          font-size: 13px;
          cursor: pointer;
          color: $clr-selected-item;
        }
      }
    }
    &.solid-background {
      > ul > li {
        color: white;
        background-color: $clr-selected-item;
        a {
          color: white;
        }
      }
    }
  }
  .dropdown-menu {
    width: 100%;
    box-shadow: none;
    border: 2px solid $clr-input-border;
    border-radius: $border-radius;
    > li a {
      font-size: 15px;
      font-family: $proxima-nova-bold;
      color: $clr-input-text !important;
      padding: 1px 12px !important;
    }
  }
  .form-control:focus {
    box-shadow: 0 0 4px rgba(102, 175, 233, 0.6);
  }
  &.has-error {
    .form-control {
      box-shadow: none;
      &:focus {
        box-shadow: 0 0 4px #ce8483;
      }
    }
  }
}
