//
// Mixins
// --------------------------------------------------

// Vendorize
$vendors: 'webkit', 'moz', 'ms'; // 'webkit', 'moz', 'ms', 'o', 'khtml';
@mixin vendorize($property, $value, $noplain: false, $vendors: $vendors, $prefix:'') {
	@each $vendor in $vendors {
		#{$prefix}-#{$vendor}-#{$property}: $value;
	}
	@if $noplain != true {
		#{$property}: $value;
	}
}

// Rounded Corners
@mixin rounded($radius: 10px) {
	@include vendorize(border-radius,$radius);
}

@mixin rounded-top($radius: 10px) {
	@include vendorize(border-top-left-radius,$radius);
	@include vendorize(border-top-right-radius,$radius);
}

@mixin rounded-bottom($radius: 10px) {
	@include vendorize(border-bottom-left-radius,$radius);
	@include vendorize(border-bottom-right-radius,$radius);
}

// Button variants
// (msby prefix because bootstrap comes with a 'button-variant' mixin)
@mixin mbsy-button-variant($color, $background, $border, $invert: false) {
  color: $color;
  background-color: $background;
  border-color: $border;

  $hover-fg: if($invert, $background, $color);
  $hover-bg: if($invert, $color, darken($background, 12%));
  $hover-border: if($invert, $border, darken($border, 12%));

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle {
    color: $hover-fg;
    background-color: $hover-bg;
    border-color: $hover-border;
  }
  &:active,
  &.active,
  .open .dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .btn-spinner .spinner > div > div {
    background-color: $color !important;
  }

  // Disable hover for clipboard buttons
  &.btn-clipboard {
    &:hover, &:active, &:focus {
      background-color: $background;
      border-color: $border;
    }
  }

  // Custom classes for clipboard button pseudo actions
  &.zeroclipboard-is-hover, &.zeroclipboard-is-active, &.zeroclipboard-is-hover:focus, .zeroclipboard-is-active:focus {
    color: $hover-fg;
    background-color: $hover-bg;
    border-color: $hover-border;
  }

  // Ambassador icon font has a different line-height
  // than Bootstrap's and FontAwesome's glyphicons
  i {
    color: $color;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
    @include translate(0, 12%);
    &.glyphicon {
      font-size: 15px;
      line-height: 11px;
      @include translate(0, 22%);
    }
    &.fa {
      font-size: 18px;
      line-height: 15px;
    }
  }

  i.fa-caret-down {
    margin-right: 0;
    margin-left: 5px;
  }

  .outset & {
    box-shadow: 0 3px 0 darken(mix($border, $background, 10%), 20%);
    &:hover {
      box-shadow: 0 3px 0 $hover-border;
    }
  }

  .uppercase & {
    text-transform: uppercase;
  }

  .boldface & {
    font-family: $proxima-nova-bold;
    border-width: 2px;
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

// Alerts
@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;
}

// Inline Block
@mixin inline-block(){
  display: inline-block;
  *display: inline;
  zoom: 1;
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// Ambassador Count Badge
@mixin ga-badge($color, $background){
  background-color: $background;
  color: $color;
  border-radius: 14px;
  padding: 6px 14px;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  min-width: 10px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}



@mixin input-placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
