//
// Modals
// --------------------------------------------------

.modal-header{
  background-color: $white;
  padding: 15px 15px 13px;
  text-align: center;
  border-radius: 6px 6px 0 0;
  h2, h3 {
    font-size: 18px;
    margin: 0;
    text-transform: none;
    font-family: $proxima-nova-bold;
    -webkit-font-smoothing: antialiased;
  }
}

.modal-content{
  @include gradient-vertical(#eef5f7, #ffffff, 0%, 100%);
  .modal-primary-text {
    color: #2c2b2b;
    font-family: $proxima-nova-thin;
    font-size: 40px;
    text-align: center;
    margin: 20px auto;
  }
}

.modal-footer {
  padding: 15px;
  border-top: none;
  text-align: center;
  .button-wrapper {
    display: inline-block;
    button {
      width: 100%;
    }
  }
  ga-button {
    display: inline-block;
    margin: 0 12px 35px;
  }
  .row .button-wrapper {
    margin-left: 0;
  }
}

.note-text {
  background-color: $bg-primary;
  padding: 20px 10px;
}

.important-note {
  background-color: $brand-danger;
  color: $white;
  vertical-align: middle;
}

.modal-info {
  border-bottom: 1px solid #f0eded;
  margin: -15px 0 20px -15px;
  padding: 20px 15px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include vendorize(box-sizing, content-box);
  > .modal-info-icon {
    padding-left: 15px;
    max-width: 45px;
    text-align: center;
    width: 100%;
    i {
      font-size: 34px;
    }
    + div {
      padding: 0 15px 0 10px;
    }
  }

  &.modal-info-danger {
    background: #ffeaea;
    color: #684a4a;
  }
  &.modal-info-info {
    background: #d8edf7;
    color: #2c576b;
  }
  &.modal-info-warning {
    background: #fcf8e3;
    color: #715427;
  }
  &.modal-info-success {
    background: #dff1d8;
    color: #355f25;
  }
}

@media #{$extra-small} {
  .modal-dialog {
    max-width: 600px;
    margin: 30px auto;
    &.modal-sm {
      max-width: 300px;
      margin: 30px auto;
    }
  }
}

@media (max-width: 620px) {
  .modal-dialog {
    margin: 30px 10px;
  }
}

@media (max-width: 320px) {
  .modal-dialog {
    &.modal-sm {
      margin: 30px 10px;
    }
  }
}

//
// Alternate Modal Style
// --------------------------------------------------

$modal-alternate-border-radius: 2px;

.modal-backdrop {
  &.modal-alternate-backdrop {
    background-color: none;
    background: linear-gradient(to bottom, rgba(36, 49, 64, 1), rgba(36, 49, 64, .8));
    &.in {
      opacity: 1;
    }
  }
}

.modal-alternate-window {
  .modal-dialog {
    transform: none !important;
    .modal-content {
      background: transparent;
      box-shadow: none;
      border-radius: 0px;
      border: none;
      .modal-header {
        background: transparent;
        padding: 55px 15px 30px;
        border: none;
        h3 {
          color: #fff;
          font-size: 36px;
          font-family: $proxima-nova-bold;
          letter-spacing: -.3px;
        }
        .close {
          position: fixed;
          top: 16px;
          right: 10px;
          display: block;
          color: #fff;
          opacity: 1;
          font-size: 32px;
          padding: 4px 10px;
          font-family: $proxima-nova-bold;
          font-weight: normal;
        }
      }
      .modal-body {
        background: #fff;
        overflow: hidden;
        border-top-left-radius: $modal-alternate-border-radius;
        border-top-right-radius: $modal-alternate-border-radius;
      }
      .modal-footer {
        background: #fff;
        border-bottom-left-radius: $modal-alternate-border-radius;
        border-bottom-right-radius: $modal-alternate-border-radius;
      }
    }
  }
}
