.ga-proportion-rings {
  $radius: 75px;
  $thickness: 8px;
  $innerRadius: $radius - $thickness;
  $ringSize: 2 * $radius;
  $innerSize: 2 * $innerRadius;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .ga-proportion-ring {
    margin: 4px;
    width: $ringSize;
    height: $ringSize;
    border-radius: $radius;
    canvas {
      position: absolute;
      background-color: #ebebeb;
      border-radius: inherit;
    }
    &-inner {
      position: absolute;
      background-color: #fff;
      width: $innerSize;
      height: $innerSize;
      margin: $thickness;
      border-radius: $innerRadius;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-numeric-label {
      font-family: $proxima-nova-light;
      font-size: 30px;
    }
    &-nominal-label {
      margin-top: 2px;
      font-size: 18px;
    }
    &-numeric-label, &-nominal-label {
      word-break: break-all;
      overflow-wrap: break-word;
      max-width: 100%;
      text-align: center;
      line-height: 1;
      transition: opacity .4s ease;
      padding: 0 5px;
    }
  }
}