
// Out wrapper for to relative position pinned cols.
.smart-table-outer-wrapper {
  position:relative;
}

.smart-table-footer {
  text-align: center;
}

// Wrapper around the table so
// we can apply border-radius
.smart-table-wrapper {
  margin-top: 15px;
  background: #fff;
  border-radius: 6px;
  .tooltip-inner {
    max-width: none !important;
  }
}

.smart-table-pinned {
  overflow-x:auto;
}

.table-striped > tbody > tr:nth-child(2n) {
  background-color: $table-bg-accent;
  th, td {
    background-color: inherit;
  }
}

.table-striped > tbody > tr:nth-child(2n+1) {
  background-color: $white;
  th, td {
    background-color: inherit;
  }
}

.smart-table {
  background-color: transparent !important;
  color: $table-font-color;
  font-size: 14px;
  font-family: $proxima-nova-light;
  margin-bottom: 0;
  border-collapse: separate;
  border-spacing: 0;
  min-width: 768px;
  max-width: none;
  .table-image {
    max-width: 100px;
    width: 100%;
  }
  .smart-table-header-cell, .smart-table-data-cell {
    word-wrap: break-word; //Apparently this will be replaced by overflow-wrap
    overflow-wrap: break-word; //But this is not yet universally recognized
  }
  .smart-table-header-row {
    background-color: $bg-primary;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    .smart-table-header-manage-cell {
      border-left: none;
    }
    th {
      height: 60px;
      border-top:none;
    }
  }
  .smart-table-header-groups-row {
    height: 0;
    th {
      border: none;
      padding: 0!important;
      .header-group-container {
        position: relative;
        &.header-group-container-no-border {
          border-left: none !important;
        }
      }
      .header-group {
        position: absolute;
        color: #3c97d3;
        background-color: #ecf0f0;
        height: 23px;
        line-height: 22px;
        width: 100%;
        text-align: center;
        font-family: $proxima-nova-bold;
        -webkit-font-smoothing: auto;
        font-weight: normal;
      }
    }
  }
  .smart-table-header-cell:first-child {
    border-left: none;
  }
  .smart-table-header-cell {
    background-color: $bg-primary;
    border-top: none;
    border-bottom: none;
    color: $blue-light;
    font-size: 14px;
    padding: 0 10px;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    &.in-group {
      vertical-align: top;
      padding: 32px 10px 0!important;
    }
  }
  .smart-table-header-cell.smart-table-disabled-sort {
    cursor: default;
  }
  .smart-table-data-cell {
    border: none;
    padding: 10px;

    .dropdown {
      position: initial;
    }

    .dropdown-menu {
      position: absolute;
      right: 10px;
      top: initial;
      min-width: initial;
    }
  }
  .smart-table-manage-cell {
    i {
      color: #fff;
    }
  }
  .smart-table-checkbox-cell {
    vertical-align: top;
  }
  .smart-table-checkbox-cell input, .smart-table-select-all {
    margin:0;
  }
  .smart-table-no-results-cell {
    height: 30px;
    line-height: 30px;
    text-align: center !important;
    border-left: none !important;
    border-right: none !important;
  }
  .smart-table-data-row:last-child td:first-child {
    border-radius: 0 0 0 6px;
  }
  .smart-table-data-row:last-child td:last-child {
    border-radius: 0 0 6px 0;
  }
  .preferred-payment.ga {
    color: $blue-dark;
    display: inline-block;
    font-size: 25px;
    height: 25px;
    margin-top: -13px;
    position: relative;
    top: 8px;
  }
  .smart-table-payout-headers {
    height: 0;
    td {
      border:none;
      padding: 0 !important;
      > div {
        position: relative;
        z-index:1;
        top: -60px;
      }
    }
    td:nth-child(2), td:nth-child(3) {
      width: 245px;
    }
    td:nth-child(4) {
      width: 80px;
    }
    td:nth-child(5) {
      width: 70px;
    }
  }
  th:first-child {
    border-radius: 3px 0 0 0;
  }
  th:last-child {
    border-radius: 0 3px 0 0;
  }
}

@media #{$large} {
  .smart-table .smart-table-payout-headers {
    td:nth-child(2), td:nth-child(3) {
      width: 345px;
    }
    td:nth-child(4) {
      width: 150px;
    }
  }
}

// Manage tables

.table-row-saving {
  background: rgba(97, 97, 97, 0.31);
  position: absolute;
}

// Temporary saving indicator
.table-row-saving .row-saving-inner {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 38px;
  text-transform: uppercase;
  text-shadow: 1px 1px rgb(121, 121, 121);
}

.table-apply-action-container {
  $color: #1b252f;
  $hover-bg: #f7f7f7;
  float: left;
  margin-right: 15px;
  .dropdown-toggle {
    border: 2px solid $table-border-color !important;
    border-radius: 2px;
    box-shadow: none;
    color: $color !important;
    font-family: $proxima-nova;
    font-weight: normal;
    background: $white !important;
    &.btn .caret {
      margin-left: 5px;
      position: relative;
      right: 0;
      top: -1px;
      @include transition(0.25s ease);
    }
  }
  .dropdown.open {
    .dropdown-toggle.btn .caret {
      @include rotate(180deg);
    }
  }
  .dropdown-menu {
    min-width: 100%;
    @include box-shadow(none);
    border: 2px solid $table-border-color;
    border-radius: 2px;
    > li {
      a {
        font-size: 15px;
        font-family: $proxima-nova;
        font-weight: normal;
        color: $color !important;
        padding: 1px 12px !important;
        height: 24px;
        &:hover {
          background-color: $hover-bg;
          color: $color !important;
        }
        > i {
          margin-right: 5px;
          position: relative;
          top: -1px;
        }
      }
      &.active {
        a {
          background-color: $hover-bg;
          color: $color !important;
        }
      }
    }
  }
}

.table-apply-actions, .table-filtering .filtering-buttons {
  > .dropdown.disabled {
    cursor: not-allowed;
    > .dropdown-toggle[disabled] {
      background-color: #eeeeee !important;
      color: $gray-1 !important;
      @include opacity(1);
      .caret {
        color: $gray-1;
      }
    }
  }
}

.table-action-buttons {
  float: right;
  padding-left: 15px;
  .table-actions-container {
    > * {
      display: inline-block;
    }
    > span {
      font-size: 14px;
      margin-right: 15px;
      margin-bottom: 10px;
    }
    > .action-button {
      margin-right: 15px;
      margin-bottom: 10px;
    }
    ga-button {
      display: inline-block;
    }
    .btn {
      padding: 6px 15px;
      border-radius: 2px !important;
      height: 37px;
      border: none;
      font-family: $proxima-nova-semibold;
      i {
        display: none !important;
        margin-right: 0 !important;

        &.fa {
          font-size: 14px !important;
        }
        &.ion {
          font-size: 18px;
        }
        &.ga {
          font-size: 18px;
        }
      }
    }
    @media #{$media-small-minus} {
      .btn {
        padding: 6px 0;
        width: 37px;
        i {
          display: inline-block !important;
        }
        .button-label {
          display: none;
        }
      }
    }
    .btn-default {
      @include mbsy-button-variant(#777777, #ededed, #ededed);
    }
    .dropdown {
      .dropdown-toggle .caret {
        position: static;
        @include transition(0.25s ease);
      }
      &.open .dropdown-toggle .caret {
        @include rotate(180deg);
      }
      > .tooltip.in {
        display: none !important;
      }
      @media #{$media-small-minus} {
        > .tooltip.in {
          display: block !important;
        }
        .dropdown-toggle {
          .caret {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid;
          }
          &.has-icon .caret {
            display: none;
          }
        }
        .dropdown-menu {
          right: 0;
          left: auto;
          text-align: right;
        }
      }
    }
    .dropdown-menu {
      border: none;
      background-color: #dcdcdc;
      margin-top: 10px;
      border-radius: 2px;
      min-width: 100%;
      @include box-shadow(none);
      li {
        padding: 3px 15px;
        background-color: transparent;
        color: #777777;
        cursor: pointer;
        font-family: $proxima-nova-semibold;
        white-space: nowrap;
        &:hover {
          background-color: #bebebe;
        }
      }
    }
  }
}

.table-external-ordering-container {
  $color: #1b252f;
  $hover-bg: #f7f7f7;
  float: right;
  margin-bottom: 0;
  .dropdown-toggle {
    border: 2px solid $table-border-color !important;
    border-radius: 2px;
    box-shadow: none;
    color: $color !important;
    font-family: $proxima-nova;
    font-weight: normal;
    background: $white !important;
    &.btn .caret {
      margin-left: 5px;
      position: relative;
      right: 0;
      top: -1px;
      @include transition(0.25s ease);
    }
  }
  .dropdown.open {
    .dropdown-toggle.btn .caret {
      @include rotate(180deg);
    }
  }
  .dropdown-menu {
    min-width: 100%;
    @include box-shadow(none);
    border: 2px solid $table-border-color;
    border-radius: 2px;
    > li {
      a {
        font-size: 15px;
        font-family: $proxima-nova;
        font-weight: normal;
        color: $color !important;
        padding: 1px 12px !important;
        height: 24px;
        &:hover {
          background-color: $hover-bg;
          color: $color !important;
        }
        > i {
          margin-right: 5px;
          position: relative;
          top: -1px;
        }
      }
      &.active {
        a {
          background-color: $hover-bg;
          color: $color !important;
        }
      }
    }
  }
}


// Top right section of table
// Has pagination plus page size
.smart-table-display-per-page {
  margin: 20px 0;
  .pagination-indicator {
    padding: 5px 0;
    font-size: 14px;
    font-family: $proxima-nova-semibold;
    color: #1b252f;
  }
  .pagination {
    margin: 0;
  }
  div {
    float: left;
  }
  .dropdown {
    margin-right: 5px;
    .btn {
      height: 22px;
      line-height: 18px;
      padding: 6px;
      width: 22px;
      background: none !important;
      box-shadow: none !important;
      vertical-align: baseline;
      i {
        color: #1b252f;
        display: block;
      }
    }
  }
  .dropdown-menu {
    border: 2px solid $table-border-color;
    border-radius: 2px;
    box-shadow: none;
    left: 5px;
    top: 5px;
    transform: translate(0px, -100%);
  }
}

.smart-table-search {
  margin-bottom: 10px;
  max-width: 350px;
  min-width: 280px;
  width: 30%;
  &.pull-right {
    padding-right: 15px;
  }
  &.pull-left {
    padding-left: 15px;
  }
  ga-form-field .form-group .form-control {
    height: 37px;
    color: #1b252f !important;
    font-family: $proxima-nova !important;
    @include input-placeholder {
      font-family: $proxima-nova !important;
    }
    &[disabled] {
      @include input-placeholder {
        color: $gray-1 !important;
      }
    }
  }
  .form-group {
    overflow: hidden;
    margin-bottom: 0;
    .help-block {
      display: none;
    }
  }
}

// Dropdown column
manage-table-btn {
  display: block;
  text-align: right;
  .dropdown {
    $color: #1b252f;
    $hover-bg: #f7f7f7;
    background-color: $gray;
    border-radius: 2px;
    color: $white;
    height: 24px;
    line-height: 24px;
    text-align: center;

    .dropdown-btn {
      padding: 0px 5px 0px 5px;
      color: white;
      display: block;
      position: relative;
      white-space: nowrap;
      text-decoration: none;
      .btn-spinner {
        padding: 0 6px 0 5px;
      }
      > span {
        margin-right: 3px;
      }
      .fa-caret-down {
        line-height: 24px;
        @include transition(0.25s ease);
      }
    }
    .dropdown-menu {
      min-width: 100%;
      @include box-shadow(none);
      border: 2px solid $table-border-color;
      border-radius: 2px;
      right: 14px !important;
      > li {
        a {
          font-size: 15px;
          font-family: $proxima-nova;
          font-weight: normal;
          color: $color !important;
          padding: 1px 12px !important;
          height: 24px;
          &:hover {
            background-color: $hover-bg;
            color: $color !important;
          }
          > i {
            margin-right: 5px;
            position: relative;
            top: -1px;
          }
        }
        &.active {
          a {
            background-color: $hover-bg;
            color: $color !important;
          }
        }
      }
    }
    &.open .dropdown-btn .fa-caret-down {
      @include rotate(180deg);
    }
  }
  .dropdown.open, .dropdown:hover {
    background-color: $gray-dark;
  }
  .dropdown-disabled:hover {
    background-color: $gray;
  }
  .label {
    display: block;
    margin: 4px 0;
  }
}

.manage-actions {
  text-align: right;
  > a.btn-gray {
    position: relative;
    display: inline-block;
    height: 25px;
    padding: 1px;
    width: 25px;
    > i {
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      &.fa, &.ion {
        line-height: 10px;
      }
    }
    &:not(:first-child) {
      margin-left: 4px;
    }
    &.manage-button-loading > i {
      @include opacity(0);
    }
  }
}

// Smart table header
.smart-table-header {
  .pagination {
    margin: 0;
  }
  .dropdown-toggle.btn {
    padding: 8px 11px 8px;
    height: 37px;
  }
}

// Pagination
.smart-table-footer {
  .pagination-wrapper {
    text-align: center;
  }
}

tooltip-cell span, .tooltip-active {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  word-wrap: normal !important;
}

/*
  Filters
 --------------------------
*/
.smart-table-actions {
  position: relative;
  padding: 0 15px;
  min-width: 180px;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  .dropdown-menu > li > a {
    cursor: pointer;
  }
}

.apply-action-visible {
  .smart-table-actions {
    min-width: 310px;
  }
  &.no-filter-select .smart-table-actions {
    min-width: 0;
  }
}

@media (max-width: 459px) {
  .external-ordering-visible {
    .smart-table-search, .smart-table-display-per-page {
      float: right !important;
      padding: 0 15px 0 0;
      clear: none;
    }
  }
  .smart-table-search, .smart-table-display-per-page {
    float: left !important;
    padding: 0 15px 0 0;
    clear: left;
  }
}

@media (max-width: 508px) {
  .apply-action-visible {
    .smart-table-search, .smart-table-display-per-page {
      float: left !important;
      padding: 0 15px;
      clear: left;
      &.pull-left {
        padding-right: 0;
      }
    }
    .smart-table-search {
      min-width: 286px;
    }
  }
}

@media (max-width: 360px) {
  .smart-table-search {
    min-width: 100% !important;
  }
}

.table-filter-container {
  float: left;
}
.table-filtering {
  $color: #1b252f;
  $hover-bg: #f7f7f7;
  .filtering-buttons {
    z-index: 10;
    .dropdown {
      .dropdown-toggle {
        border: 2px solid $table-border-color !important;
        border-radius: 2px;
        box-shadow: none;
        color: $color !important;
        font-family: $proxima-nova;
        font-weight: normal;
        background: $white !important;
        &.btn .caret {
          margin: 0 0 0 5px;
          position: relative;
          right: 0;
          top: -1px;
          color: $color;
          @include transition(0.25s ease);
        }
      }
      &.open .dropdown-toggle.btn .caret {
        @include rotate(180deg);
      }
    }
    .dropdown-menu {
      min-width: 100%;
      @include box-shadow(none);
      border: 2px solid $table-border-color;
      border-radius: 2px;
      > li {
        a {
          font-size: 15px;
          font-family: $proxima-nova;
          font-weight: normal;
          color: $color !important;
          padding: 1px 12px !important;
          height: 24px;
          &:hover {
            background-color: $hover-bg;
            color: $color !important;
          }
        }
        &.active {
          a {
            background-color: $hover-bg;
            color: $color !important;
          }
        }
      }
    }
  }
  .filter-header {
    margin-bottom: 20px;
    h2 {
      display: inline-block;
      margin: 4px 0;
    }
    button {
      float: right;
    }
  }
  .active-filters {
    ul {
      margin: 5px 0;
      overflow: hidden;
    }
  }
  .filter-input {
    display: block;
    margin: 0;
    float: left;
    input {
      height: 37px;
      border: 2px solid $table-border-color;
      border-radius: 2px;
      box-shadow: none;
      color: $color;
      &:focus {
        border-color: $table-border-color;
        box-shadow: none;
      }
    }
    .dropdown {
      height: 37px;
    }
    .dropdown-select {
      width: 200px;
      .dropdown-toggle {
        height: 37px;
        font-weight: normal;
      }
      .dropdown-menu {
        max-width: 350px;
        > li > a {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .datepicker-field {
      position: relative;
      .dropdown-menu {
        top: 37px !important;
        min-width: 283px;
        padding: 10px !important;

        table {
          width: 100%;
        }

        th:first-child, th:last-child {
          button {
            position: relative;
            background-color: transparent !important;
            color: #bcbcbc !important;
            border: medium none;
            padding: 0;
            &:after {
              @extend .fa;
              font-size: 18px;
              position: absolute;
              top: -2px;
            }
            i {
              @include opacity(0);
            }
          }
        }
        th:first-child button:after {
          @extend .fa-angle-left:before;
          left: 3px;
        }
        th:last-child button:after {
          @extend .fa-angle-right:before;
          right: 3px;
        }
        th button strong {
          font-weight: normal;
          font-family: $proxima-nova-bold;
          font-size: 11px;
          text-transform: uppercase;
          color: #bcbcbc !important;
        }
        th {
          text-align: center;
          small {
            color: #1b252f;
            text-transform: uppercase;
            font-size: 13px;
            font-family: $proxima-nova-semibold;
            font-weight: normal;
          }
          &:nth-child(3), &:nth-child(5) {
            small {
              width: 11px;
            }
          }
        }
        thead tr:last-child th {
          padding: 5px 0 !important;
        }

        th button, td button {
          padding: 0 5px !important;
          box-shadow: none !important;
          strong, span {
            background-color: transparent !important;
            border: none !important;
            padding: 4px 6px !important;
            box-shadow: none;
          }
        }

        td button {
          &[disabled] {
            @include opacity(0.4);
          }
          span {
            color: #3995d3 !important;
            font-family: $proxima-nova-semibold;
            &.text-muted {
              color: #bcbcbc !important;
              @include opacity(1);
            }
          }
          &.active span {
            border-bottom: 2px solid #3995d3 !important;
            border-radius: 0;
          }
        }

        td[aria-disabled="true"] {
          cursor: not-allowed;
        }
      }
      @media (max-width: 419px) {
        .dropdown-menu {
          left: auto !important;
          right: 0;
        }
      }
    }
    > * {
      max-width: 160px;
    }
    .async-loader {
      i.fa-spin {
        top: 9px;
      }
      .dropdown-menu {
        max-width: 350px;
        > li > a {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .input-group {
      * {
        border-color: $table-border-color;
      }
      &.has-error * {
        border-color: $state-danger-text !important;
        color: $state-danger-text !important;
        box-shadow: none;
      }
      input:first-child {
        border-radius: 2px 0 0 2px;
      }
      span.input-group-addon {
        border-width: 2px 0 2px 2px;
        border-radius: 2px 0 0 2px;
        border-style: solid none solid solid;
      }
      input {
        border: 2px solid $table-border-color;
        border-radius: 0;
        &:focus {
          border-color: $table-border-color;
          box-shadow: none;
        }
      }
      .input-group-btn {
        button {
          padding: 7px 12px 6px;
          border-width: 2px;
          border-radius: 0 2px 2px 0;
          border-left: none;
          margin-left: 0;
          i {
            margin-right: 2px;
          }
        }
      }
    }
    .input-group.has-error .btn {
      background-color: $state-danger-bg;
    }
  }
  .table-filter {
    position: relative;
    margin-bottom: 10px;
    float: left;
    margin-right: 12px;
    padding-right: 20px;
    height: 25px !important;
    font-family: $proxima-nova-semibold;

    .input-group {
      width: 100%;
      max-width: 300px;
    }
    .input-group-addon {
      color: #1b252f;
      background: none;
      border: none;
      padding: 0 5px 0 0;
      height: 26px !important;
      width: auto;
    }
  }
  .table-filter button {
    background: none;
    border: none;
    height: 24px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 24px;
    font-size: 14px;
    @include box-shadow(none);
    @include translate(0, -50%);
    i {
      color: #cf0000;
      margin: 0;
      font-size: 16px;
      height: 100%;
      left: 0;
      line-height: 23px;
      position: absolute;
      top: -3px;
      width: 100%;
    }
  }
  .input-money {
    input {
      padding-right: 30px;
    }
    .input-cents {
      position: absolute;
      top: 7px;
      right: 50px;
      z-index: 10;
      color: $gray;
    }
  }
}

table-filter-active {
  display: block;
  padding-top: 1px;
  padding-left: 15px;
}
.smart-table-container-external-ordering table-filter-active {
  border-top: none;
  padding-top: 0;
}

//
// Media queries
// --------------------------------------------------
@media #{$large} {
  .smart-table {
    margin-left: 0;
  }
}


//
// Smart tables - the new look
// -------------------------------------

.smart-table-container {
  $table-header-cell-color: #1b252f;
  position: relative;

  .smart-table-header.search-filters-row {
    margin-bottom: -14px;
    .search-results {
      font-family: $proxima-nova-semibold;
      color: $table-header-cell-color;
      font-size: 14px;
      padding: 3px 25px 0 0;
      > span > span {
        color: #3995d3;
      }
    }
    .clear-table-search {
      cursor: pointer;
      color: #cf0000;
      font-size: 14px;
      width: 24px;
      height: 24px;
      line-height: 20px;
      margin-top: -1px;
      text-align: center;
      font-size: 16px;
    }
  }

  .smart-table-wrapper {
    border-radius: 0;
    border: 2px solid $table-border-color;
    .smart-table {
      td, th {
        border: none;
        border-radius: 0 !important;
      }
      .smart-table-header-groups-row {
        th {
          position: relative;
          z-index: 1;
          .header-group-container {
            border-width: 0 2px;
            border-style: none solid;
            border-color: transparent;
            position: relative;
            padding: 0 12px;
            position: absolute;
            width: 100%;
            height: 25px;
          }
          .header-group {
            background-color: $white;
            color: $table-header-cell-color;
            font-weight: normal;
            font-family: $proxima-nova-semibold;
            text-align: left;
            border: none;
            padding: 4px 6px 0 0;
            width: auto;
            z-index: 1;
            font-size: 12px;
            text-transform: uppercase;
          }
          .header-group-separator {
            background: $table-border-color;
            display: block !important;
            height: 2px;
            position: relative;
            top: 14px;
            visibility: visible !important;
            width: 100%;
          }
        }
      }
      .smart-table-header-cell {
        background-color: $white;
        border-width: 0 0 2px;
        border-style: none none solid;
        border-color: transparent transparent $table-border-color;
        color: $table-header-cell-color;
        font-weight: normal;
        position: relative;
        padding: 0 12px;
        &.in-group {
          padding: 32px 12px 0 12px !important;
          &.col-group-start {
            border-left: 2px solid $table-border-color;
          }
          &.col-group-start-no-border {
            border-left: none;
          }
          &.col-group-end {
            border-right: 2px solid $table-border-color;
          }
        }
        > span {
          position: relative;
          padding-right: 16px;
          &:before, &:after {
            @extend .fa;
            position: absolute;
            color: #6a6a6a;
            left: auto;
            right: 0;
            font-size: 12px;
            height: 8px;
            line-height: 8px;
            top: 50%;
          }
          &:before {
            @extend .fa-caret-up:before;
            transform: translate(0, -8px) !important;
          }
          &:after {
            @extend .fa-caret-down:before;
            transform: translate(0, -2px) !important;
          }
          &.sort-descent {
            &:before {
              left: auto;
            }
            &:after {
              color: #3696d5;
            }
          }
          &.sort-descent {
            &:before {
              display: none;
            }
            &:after {
              color: #3696d5;
            }
          }
          &.sort-ascent {
            &:before {
              color: #3696d5;
            }
            &:after {
              display: none;
            }
          }
        }
        &.smart-table-disabled-sort > span {
          padding-right: 0;
          &:before, &:after {
            display: none;
          }
        }
      }
      .smart-table-data-row:hover td {
        background-color: #e7f4fd !important;
      }
      .smart-table-data-cell, .smart-table-checkbox-header-cell, .smart-table-checkbox-cell {
        padding: 10px 12px;
      }
    }
  }

  &.table-pinning-active {

    .smart-table-search {
      overflow: visible;
      .form-control {
        float: right;
      }
    }


    @mixin darken-column($column:0) {
      $pinned-bg-color: #f8f8f8;
      $cell-selector: "";
      @if $column > 0 {
        $cell-selector: ":nth-child(#{$column})";
      }
      > thead > tr > th#{$cell-selector} {
        background-color: $white;
        .header-group {
          background-color: $white;
        }
      }
      > tbody > tr {
        td#{$cell-selector} {
          background-color: $pinned-bg-color;
        }
      }
    }

    @for $nPin from 1 through 9 {
      // Each iteration of this loop create the style for a table with $nPin columns pinned

      .smart-table.pinned-#{$nPin} {
        background: #f8f8f8 !important;
        @for $column from 1 through $nPin {
          > thead > tr > th,
          > tbody > tr > td {
            &:nth-child(#{$column}) {
              position:absolute;
              z-index: 300;
              -webkit-backface-visibility: hidden;
              -ms-backface-visibility: hidden;
              backface-visibility: hidden;
            }
          }

          > thead > tr > th:nth-child(#{$column}) {
            white-space: normal;
            line-height: initial;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
          }
        }

        > thead > tr > th {
          &:nth-child(#{$nPin}) {
            box-shadow: 2px 0 0 $table-border-color;
          }
        }

        > tbody > tr > td {
          &:nth-child(#{$nPin}) {
            // The last (right-most) pinned column
            //border-right: 2px solid darken($table-border-color, 8%);
            box-shadow: 2px 0 0 $table-border-color;
          }
          &:nth-child(#{$nPin + 1}) {
            // The first (left-most) unpinned column
            border-left: none;
          }
        }

        @for $column from 1 through $nPin {
          @include darken-column($column);
        }
        .smart-table-data-row {
          background: $white;
        }
      }
    }

    .smart-table-no-results {
      padding-bottom:50px;
    }

    .smart-table-no-results-cell {
      background: $white !important;
      height: 50px !important;
      line-height: 35px;
      text-align: center !important;
      left: 2px;
      right: 2px;
      width: initial !important;
      border-top: 1px solid $table-border-color;
    }
  }

  .pagination {
    $active-color: #3995d3;
    > li {
      > a {
        cursor: pointer;
        height: 30px;
        padding: 0 15px;
        line-height: 25px;
        border-width: 2px;
        border-radius: 15px;
        border-style: solid;
        border-color: transparent;
        background: $white;
        margin: 0 4px;
        color: #959fa9;
        font-size: 14px;
        &:hover {
          background: $white;
          color: $active-color;
          border-color: transparent;
        }
        .page-text {
          display: block;
        }
        .page-alt-text {
          display: none;
        }
      }
      &.active > a {
        background: $white;
        border-color: $active-color;
        color: $active-color;
      }
      &.disabled {
        display: none;
      }
    }
  }
  @media #{$extra-small} {
    .smart-table-display-per-page {
      width: 100%;
    }
    .pagination {
      float: none !important;
      margin: 0 auto;
      > li > a {
        .page-text {
          display: none;
        }
        .page-alt-text {
          display: block;
        }
      }
    }
  }
}
