//
// Typography
// --------------------------------------------------


// Base
body {
  font-family: $proxima-nova;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: $gray-darker;
}

// Headings
h1, .h1 {
  font-family: $proxima-nova-bold;
  color: $bg-secondary;
  font-size: 24px;
}

h1.highlight {
  color: $blue-light;
  font-family: $proxima-nova-bold;
  margin-bottom: 9px;
}


h2, .h2 {
  font-family: $proxima-nova-condensed-light;
  color: $blue-dark;
  font-size: 24px;
}

h3, .h3 {
  font-family: $proxima-nova-condensed-bold;
  color: $blue-dark;
  font-size: 18px;
  text-transform: uppercase;
}

h4, .h4, h5, .h5, h6, .h6 {
  font-family: $proxima-nova;
}


.uppercase {
  text-transform: uppercase;
}

.boldface {
  font-family: $proxima-nova-bold;
}