// Proxima Nova
$proxima-nova: "proxima_nova_rgregular";
$proxima-nova-bold: "proxima_nova_rgbold";
$proxima-nova-semibold: "proxima_novasemibold";
$proxima-nova-light: "proxima_novalight";
$proxima-nova-italic: "proxima_novaregular_italic";
$proxima-nova-thin: "proxima_nova_thinthin";

// Proxima Nova Condensed
$proxima-nova-condensed: "proxima_nova_cn_rgregular";
$proxima-nova-condensed-bold: "proxima_nova_condensedSBd";
$proxima-nova-condensed-light: "proxima_nova_condensedlight";
$proxima-nova-condensed-italic: "proxima_nova_condensedRgIt";
$proxima-nova-condensed-thin: "proxima_nova_cn_ththin";

//
// Bootstrap
// --------------------------------------------------
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

//
// FontAwesome
// --------------------------------------------------
$fa-font-path: "../bower_components/fontawesome/fonts";
@import "fontawesome/scss/font-awesome.scss";

//
// Ionicons
// --------------------------------------------------
$ionicons-font-path: "../bower_components/ionicons/fonts";
@import "ionicons/scss/ionicons.scss";

//
// Ambassador Styles
// --------------------------------------------------
@import '_colors';
@import '_screen';
@import '_mixins';
@import '_animations';
@import '_type';
@import '_alerts';
@import '_buttons';
@import '_forms';
@import '_labels';
@import '_toggle';
@import '_components';
@import '_tables';
@import '_loader';
@import '_modals';
@import '_charts';
@import '_wysiwyg';
@import '_colorpicker';
@import '_proportion-rings';
